<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Today's Schedule for <%= @user.email %></h1>
    <% @boards.each do|board| %>
      <%= board.title %>
      <% @lists.where(board_id: board.id).each do |list| %>
        <%= list.title %>
        <% list.cards.each do |card| %>
          <%= card.text %>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
