<div class="board-list-header">
  <span class="title">My Boards</span>
  <span class="new-board">
    <i class="fa fa-plus-square" aria-hidden="true">
    <%= link_to "New Board", new_board_path%>
    </i>
  </span>
</div>
<div >
  <div class="row">
    <% @boards.each do |board| %>
    <div class="small-4 columns">
      <div class="board">
        <% if board.category == "calendar" %>
          <i class="board-icon fa fa-calendar"></i>
        <% elsif board.category == "kanban" %>
          <i class="board-icon fa fa-tasks"></i>
        <% end %>
        <span class="board-title"><%= link_to board.title, board_path(board)%></span>
        <%= link_to "", board, method: :delete, data: { confirm: 'Are you sure?' }, class: "board-trash fa fa-trash-o" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
