<div class="row">
  <div class="blank small-4 column">blank</div>
  <div class="small-4 column">
    <h3>Create New Board</h3>
    <%= render 'form' %>
  </div>
  <div class="blank small-4 column">blank</div>
</div>
