@import "colors";
@import "landing_page";
@import "board_list";
@import "board";

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.blank {
  visibility: hidden;
}

html,body,#board {
  background: url("cream_dust.png") repeat 0 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

.top-bar {
  a {
    background-color: $text;
    color: $darker-text;
  }
  a:hover {
    color: grey;
  }
  height: 62px;
  background-color: $text;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=time], [type=url], [type=week], textarea {
  border-color: $darker-text;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#body {
  padding-top: 75px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  color: $darker-text;
}

.top-bar-right {
  padding-top: 5px;
}

.button {
  background-color: $buttons;
}

.button:hover{
  background-color: #FA6900;
}

.button:focus{
  background-color: #FA6900;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.fa-plus-square {
  color: $buttons;
}

.board-icon {
  color: $buttons;
}

.flash {
  margin: 0;
  text-align: center;
}
