@import "colors";

.fa{
  color: $grey-white;
}

.fa:hover {
  color: $buttons;
}

.icon {
  float: right;
  padding: 5px;
}

input[type=checkbox]{
  margin: 0;
}

.list-header {
  color: $list-title;
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
}

.list-block {
  height: 100%;
  white-space: nowrap;
}

.list {
  border: 1px solid $darker-text;
  display: inline-block;
  height: 100%;
  overflow: auto;
  padding: 0 20px;
  margin: 10px 20px 10px 0;
  position: relative;
  vertical-align: top;
  white-space: normal;
  width: 300px;
}

.yesterday-list {
  border: 1px solid $grey;
  background-color: rgba(255,0,0,0.2);
  display: inline-block;
  height: 100%;
  overflow: auto;
  padding: 0 20px;
  margin: 10px 20px 10px 0;
  position: relative;
  vertical-align: top;
  white-space: normal;
  width: 300px;
}

.list:not(:last-child):after {
  background: linear-gradient(to bottom, $ligth-grey-white 0%, $grey-white 50%, $ligth-grey-white 100%) fixed;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 99%;
}

.top-bar {
  height: 50px;
}

.incomplete-card {
  color: $darker-text;
  background: $background;
  border: 1px solid $text;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0 , 0 , .25);
  margin: 0 0 10px;
  overflow: auto;
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 10px 10px 10px 15px;
}

.card-text {
  font-weight: bold;
}

.card-text:before {
  display: inline-block;
  width: 1em;
  content: '▸';
}

.card-text-is-open:before {
  content: '▾';
}

.toggle-enter {
  max-height: 0;
  overflow: hidden;
}

.toggle-enter.toggle-enter-active {
  max-height: 300px;
  overflow: hidden;
  transition: max-height .25s ease-in;
}

.toggle-leave {
  max-height: 300px;
  overflow: hidden;
}

.toggle-leave.toggle-leave-active {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-out;
}

.card-details {
  padding-top: 10px;
}

.input-field {
  width: 65%;
  border-color: #bbb;
}

.submit-button {
  float:right;
  margin-top: 1px;
  padding: 9px 7px 9px 7px;
}

.new-list {
  display: inline-block;
  overflow: auto;
  padding: 10px 10px 10px 5px;
  margin: 0;
  position: relative;
  vertical-align: top;
  white-space: normal;
  width: 300px;
  .input-field{
    width: 70%;
  }
}

.checklist__task {
  list-style: none;
  margin-left: -20px;
}

.checklist__task:first-child {
  margin-top: 10px;
  padding-top: 10px;
  border-top: dashed 1px #ddd;
}

.checklist__task--remove:after{
  display: inline-block;
  color: $buttons;
  content: "✖";
}

.checklist--add-task {
  border: 1px dashed #bbb;
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px;
}

.card-tags-block {
  color: $grey;
}
