$list-title: #3b414c;
$ligth-grey-white: #eee;
$grey-white: #ccc;
$card-border: #e5e5df;
$background: #fff;
$grey: #808080;

$beach-storm: #E0E4CC;
$text: #69D2E7;
$darker-text: #003B46;
$buttons: #F38630;
