.landing-page{
  background: url("sayagata-400px.png") repeat 0 0;
  height: 100%;
  opacity: 0.8;
}

.log-in-block {
  padding-top: 100px;
}

.log-in-title {
  font-weight: normal;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: $darker-text;
  font-weight: bold;
}

.shared-links {
  float:left;
  text-align: left;
}

.log-in {
  float: right;
}

.actions{
  padding-top: 20px;
}
